USE_REAL_API=true/false

# ======================================================
# Autenticación (Clerk)
# ======================================================
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_test_clave_publica"
CLERK_SECRET_KEY="sk_test_clave_secreta"